{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!-- <div class="center">
        <form method="POST" action="/" enctype="multipart/form-data">
            <input type="file" name="file">
            <button>Submit</button>
        </form>
    </div> -->

    <!-- <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }} -->
        <!-- <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button> -->
      <!-- </li>
      {% endfor %}
    </ul> -->
    <form method="POST" action="/" enctype="multipart/form-data">
        <input name="file" id="file" class="form-control" type="file">
        <br />
        <div align="center">
          <button type="submit" class="btn btn-primary">Add File</button>
        </div>
      </form>
    <h1 align="center">Files</h1>
    <ul class="list-group list-group-flush" id="files">
      {% for file in files %}
      <li class="list-group-item">
        {{ file.filename }}
        <button type="button" class="fa fa-download" onClick="download('{{ file.id}}', '{{file.filename }}')">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    
    {% endblock %}