{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1>Path: {{ path }}</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input name="file" id="file" class="form-control" type="file" multiple>
        <div align="center">
          <button type="submit" class="btn btn-primary">Add File</button>
        </div>
      </form>
      <br />
    <form method="POST" action="/newfolder">
      <input name="folder" id="folder" class="form-control" type="text" style="width: 150px;">
        <button type="submit" class="btn btn-primary">New Folder</button>
    </form>


    <ul class="list-group list-group-flush" id="folders">
      {% if path != '/' %}
      <li class="list-group-item">
        <i class="fa fa-arrow-left" onClick="enterFolder('-1', '..')">&nbsp;..</i>
      </li>
      {% endif %}
      {% for folder in folders %}
      <li class="list-group-item">
        <i class="fa fa-folder" onClick="enterFolder('{{ folder.id }}', '{{folder.foldername}}')"> &nbsp;{{ folder.foldername }}

        </i>
      </li>
      {% endfor %}
    </ul>

    <ul class="list-group list-group-flush" id="files">
      {% for file in files %}
      <li class="list-group-item">
        <i class="fa fa-file">&nbsp;{{ file.filename }}</i>
        <button type="button" class="fa fa-download" onClick="download('{{ file.id}}', '{{file.filename }}')">
        </button>
        <button type="button" class="fa fa-eye" onClick="preview('{{ file.id }}', '{{ file.filename }}')">
        </button>
      </li>
      {% endfor %}
    </ul>
    

    {% endblock %}